{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>IndiaIVF - {% block title %}{% endblock %}</title>
  <!-- General CSS Files -->
  {% block style %}{% endblock %}
  <link rel="stylesheet" href='{% static "css/app.min.css" %}'>
  <link rel="stylesheet" href='{% static "bundles/bootstrap-social/bootstrap-social.css" %}'>
  <!-- Template CSS -->
  <link rel="stylesheet" href='{% static "css/style.css" %}'>
  <link rel="stylesheet" href='{% static "css/components.css" %}'>
  <!-- Custom style CSS -->
  <link rel="stylesheet" href='{% static "css/custom.css" %}'>
  <link rel='shortcut icon' type='image/x-icon' href='{% static "img/favicon.png" %}' />
</head>

<body>
  {% block body %}{% endblock %}
  <!-- General JS Scripts -->
  {% block script %}{% endblock %}
  <script src='{% static "js/app.min.js" %}'></script>
  <!-- JS Libraies -->
  <script src='{% static "bundles/apexcharts/apexcharts.min.js" %}'></script>
  <!-- Page Specific JS File -->
  <script src='{% static "js/page/index.js" %}'></script>
  <!-- Template JS File -->
  <script src='{% static "js/scripts.js" %}'></script>
  <!-- Custom JS File -->
  <script src='{% static "js/custom.js" %}'></script>
</body>


</html>